$default-margin: 25px 0;

@import "partials/header";
@import "partials/infobar";
@import "partials/begin";
@import "partials/about";
@import "partials/funds";
@import "partials/footer";
@import "partials/register";
@import "partials/login";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
#app {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.scrollBottom,
.scrollTop {
  opacity: 0.7;
  background: #000;
  width: 50px;
  height: 50px;
  position: fixed;
  border-radius: 5px;
  border: none;
  &:hover {
    opacity: 1;
  }
  i {
    font-size: 25px;
    color: #fff;
  }
}

.scrollBottom {
  top: 10px;
  right: 10px;
}

.scrollTop {
  bottom: 10px;
  right: 10px;
}

#app {
  @media (max-width: 450px) {
    overflow-x: hidden;
    overflow-y: scroll;
    header {
      p {
        font-size: 1em;
      }
      nav {
        flex-flow: column wrap;
      }
      .header__wrapper {
        font-size: 1em;
      }
      .header__step {
        width: 50px;
        height: 50px;
      }
    }
    .header__bg__before,
    .header__bg__after {
      background: transparent;
    }

    .begin__background {
      background: transparent;
    }

    .about__wrapper {
      flex-flow: row wrap;
    }

    #Funds {
      .funds__list {
        justify-content: center;
      }
      .funds__list__left {
        align-items: center;
        p {
          text-align: center;
        }
      }
      .funds__list__right {
        display: none;
      }
    }

    footer {
      background: transparent;
      .footer__wrapper {
        margin: auto auto;
      }
    }
  }
  @media (min-width: 450px) and (max-width: 900px) {
    overflow-x: hidden;
    overflow-y: scroll;
    header {
      p {
        font-size: 0.5em;
      }
      .header__step {
        width: 50px;
        height: 50px;
        p {
          font-size: 0.5em;
        }
      }
    }
    .begin__background {
      background: transparent;
    }
    footer {
      background: transparent;
      .footer__wrapper {
        margin: auto auto;
      }
    }
    .header__bg__after {
      background: transparent;
    }

    .about__wrapper {
      flex-flow: row wrap;
    }

    #Funds {
      .funds__list {
        justify-content: center;
      }
      .funds__list__left {
        align-items: center;
        p {
          text-align: center;
        }
      }
      .funds__list__right {
        display: none;
      }
    }

  }
  @media (min-width: 900px) and (max-width: 1200px) {
    overflow-x: hidden;
    overflow-y: scroll;
    .header__bg__after {
      background: transparent;
    }
    #Funds {
      .funds__list {
        justify-content: center;
      }
      .funds__list__left {
        align-items: center;
        p {
          text-align: center;
        }
      }
      .funds__list__right {
        display: none;
      }
    }
  }
  @media (min-width: 1200px) {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
