@import "partials/header";
@import "partials/infobar";
@import "partials/begin";
@import "partials/about";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
