.begin__wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: $default-margin;
  .begin__info {
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    .begin__info__steps {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 300px;
      text-align: center;
      padding: 25px 0;
      span {
        padding: 10px 0;
      }
      hr {
        border-top: 1px solid #b6b6b6;
        width: 150px;
      }
    }
  }
  .begin__title {
    font-size: 1.5em;
  }
  img {
    margin: $default-margin;
  }
  button {
    border: 1px solid black;
    background: transparent;
    margin: $default-margin;
    font-size: 1em;
    width: 250px;
    padding: 25px;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  button:hover {
    cursor: pointer;
    background: #fff;
  }
  span {
    font-size: 1.5em;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 25px 10px 25px 0;
      width: 35px;
      height: 35px;
    }
    label {
      font-size: 1.5em;
    }
  }
}

.begin__wrapper__after {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  button {
    border: 1px solid black;
    background: transparent;
    margin: $default-margin;
    font-size: 1em;
    width: 250px;
    padding: 25px;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  button:hover {
    cursor: pointer;
    background: #fff;
  }
  span {
    margin: $default-margin;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 10%;
    input[type="checkbox"] {
      margin: 25px 10px 25px 0;
      width: 35px;
      height: 35px;
    }
    input[type="text"] {
      width: 200px;
    }
    label {
      font-size: 1.5em;
    }
  }
  #step1 label {
    display: flex;
    align-items: center;
  }
  #bags {
    width: 250px;
    height: 50px;
    margin-left: 10px;
    font-size: 24px;
  }
  .begin__wrapper__button {
    display: block;
    padding: 10px;
    #next, #submit {
      margin-left: 25px;
    }
  }
  #searchBar {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start !important;
  }
  #searchBar label {
    display: flex;
    align-items: flex-start !important;
  }
  #step3 label {
    display: flex;
    align-items: center;
  }
  .begin__wrapper__step3 {
    display: flex;
    flex-flow: column wrap;
    max-height: 200px;
  }
  .begin__wrapper__search {
    display: flex;
    justify-content: flex-end;
  }

  #woj {
    width: 250px;
    height: 50px;
    margin: $default-margin;
    font-size: 24px;
  }
  input[type="search"] {
    width: 500px;
    padding: 40px;
    font-size: 1em;
  }
  .begin__wrapper_options {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    label {
      padding: 0 15px;
    }
  }
  .hr__custom {
    width: 50%;
  }
  .begin__wrapper__forms {
    display: flex;
    flex-flow: row wrap;
    img {
      width: 50px;
      height: 50px;
    }
    .begin__wrapper__address {
      display: flex;
      flex-flow: column wrap;
      span {
        font-weight: 900;
      }
      label {
        font-size: 1em;
        display: flex;
        flex-flow: column wrap;
        input {
          padding: 10px;
        }
        #uwagi {
          padding: 40px 10px;
        }
      }
    }
    .begin__wrapper__address:last-child {
      margin-left: 50px;
    }
  }
}

.fa-hands,
.fa-download,
.fa-binoculars,
.fa-people-carry {
  font-size: 40px;
  color: #b6b6b6;
}

input[type="checkbox"]:checked + label {
  color: #fff;
  background: #f4cb0f;
  border: 1px solid #f4cb0f;
  border-radius: 2px;
  // padding: 5px 15px;
}
input[type="checkbox"]:checked + span {
  color: #fff;
  background: #f4cb0f;
  border: 1px solid #f4cb0f;
  border-radius: 2px;
  // padding: 5px 15px;
}