header {
  max-width: calc(100% - 200px);
  background-image: url("../img/header_start_img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .login__buttons {
    margin: 25px 0;
    button {
      border: 2px solid rgba(245, 209, 6, 0);
      background: #fff;
      transition: border-color 0.2s ease-in-out;
      margin-left: 10px;
      padding: 10px;
    }
    button:hover {
      border-color: rgba(245, 209, 6, 1);
      cursor: pointer;
    }
  }

  nav {
    list-style-type: none;
    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0);
      background: #fff;
      transition: border-color 0.2s ease-in-out;
    }
    a:hover {
      border-color: rgba(0, 0, 0, 1);
      cursor: pointer;
    }
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 1.5em;
    font-weight: lighter;
    img {
      margin-top: 30px;
    }
    .header__buttons {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      button {
        border: 1px solid rgba(0, 0, 0, 1);
        background: #fff;
        margin-left: 10px;
        font-size: 1em;
        width: 200px;
        padding: 10px;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
}
