header {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow:column wrap;
  align-items: flex-end;
  margin: 25px 55px 25px 0;
  .login__buttons {
    button {
      border: 2px solid rgba(245, 209, 6, 0);
      background: #fff;
      transition: border-color 0.2s ease-in-out;
      margin-left: 10px;
      padding: 10px;
    }
    button:hover {
      border-color: rgba(245, 209, 6, 1);
      cursor: pointer;
    }
    .fa-cog {
      font-size: 20px;
      position: relative;
      margin-left: 5px;
    }
    .fa-cog:hover {
      animation: rotCircle 2s linear infinite;
      cursor: pointer;
      color: #f4cb0f;
    }
    .login__dropdown {
      list-style: none;
      position: absolute;
      border: 2px solid #000;
      border-radius: 3px;
      animation: showNav 0.5s ease-in-out;
      background: #fff;
      li {
        padding: 10px 15px;
        font-size: 1rem;
      }
      li:hover {
        color: #fff;
        background: #f4cb0f;
      }
      li:last-child:hover {
        cursor: pointer;
      }
    }
  }

  nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0);
      background: transparent;
      transition: border-color 0.2s ease-in-out;
    }
    a:hover {
      border-color: rgba(0, 0, 0, 1);
      cursor: pointer;
    }
  }

  .header__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: $default-margin;
    font-size: 1.5em;
    font-weight: lighter;
    img {
      margin: $default-margin;
    }
    .header__buttons {
      display: flex;
      justify-content: center;
      margin: $default-margin;
      button {
        border: 1px solid rgba(0, 0, 0, 1);
        background: transparent;
        margin-left: 10px;
        font-size: 0.75em;
        width: 150px;
        padding: 10px;
      }
      button:hover {
        cursor: pointer;
      }
    }
    .header__step__wrapper {
      display: flex;
      .header__step {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        transform: rotate(-45deg);
        width: 100px;
        height: 100px;
        margin: 25px 5px;
        padding: 10px;
        .header__step__content {
          transform: rotate(45deg);
        }
        p {
          text-align: center;
          font-size: 0.8em;
        }
      }
    }
  }
}

.header__bg__before {
  background-image: url("../img/header_start_img.jpg");
};

.header__bg__after {
  background-image: url("../img/header_logged_img.jpg");
};

@keyframes showNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
