.infobar__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 75px 0;
  background-image: url("../img/bg_yellow.jpg");
  background-size: 100% 100%;
  .infobar__square {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5f5420;
    span,
    p {
      padding: 10px 0;
    }
    .infobar__square__number {
      font-size: 65px;
      font-weight: 100;
    }
    .infobar__square__title {
      text-transform: uppercase;
    }
  }
}

.infobar__wrapper__after {
  width: 100%;
  padding: 75px 0;
  background-image: url("../img/bg_yellow.jpg");
  background-size: 100% 100%;
  div {
    margin-left: 10%;
  }
}